@model ShopModel.LoginModel
@{
    ViewBag.Title = "Signup";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signup</title>
    <link href="~/Styles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/css/jquery.smartmenus.bootstrap.css" rel="stylesheet" />
    <script src="~/Styles/css/owl/owl.carousel.js"></script>
    <link href="~/Styles/css/owl/owl.theme.css" rel="stylesheet" />
    <link href="~/Styles/css/owl/owl.transitions.css" rel="stylesheet" />
    <link href="~/Styles/css/1-col-portfolio.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet'
          type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,700italic,400,700"
          rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
@using (Html.BeginForm("Signup", "Signup", FormMethod.Post))
{
    <div id="signupbox" style="margin-top: 50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <div class="panel-title">
                    Sign Up
                </div>
                <div style="float: right; font-size: 85%; position: relative; top: -10px">
                </div>
            </div>
            <div class="panel-body">
                <div id="signupform" class="form-horizontal" role="form">
                    <div class="form-group">
                        @Html.Label("User Name", htmlAttributes: new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(a => a.Username, new { @id = "txtusername", @class = "form-control",@placeholder = "User name" })
                        </div>
                    </div>
                    <div class="form-group">
                            @Html.Label("First Name", htmlAttributes: new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(a => a.firstname, new { @id = "txtfirstname", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                            @Html.Label("Last Name", htmlAttributes: new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(a => a.lastname, new { @id = "txtlastname", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                            @Html.Label("Password", htmlAttributes: new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(a => a.Password, new { @id = "txtpassword", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Sex", htmlAttributes: new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.RadioButtonFor(a => a.isadmin, "Male", new { @id = "ImageId" }) Male
                            @Html.RadioButtonFor(a => a.isadmin, "Female", new { @id = "videoId"}) Female
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.Label("Password", htmlAttributes: new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                                @Html.TextBoxFor(a => a.isadmin, new { style = "display: none;" })
                                @Html.TextBoxFor(a => a.isadmin, "", new { @type = "file", @class = "form-control", @id = "uploadAr", @accept = "image/*", @onChange = "validate(this.value)" })
                                @*@Html.DisplayFor(model => model.uploadArImageshow)
                                <img src="@thumb" style="height:60px;width:100px" />*@
                        </div>
                    </div>



                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info">
                                <i class="icon-hand-right"></i>&nbsp Sign Up
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</body>
</html>
